# Path to common voice files
voiceRoot	string	/usr/local/vocal/bin/voicemail/Voice/

# Path to vm user home (not unix homes) directories
homeRoot	string	/usr/local/vocal/var/vmhome/

# Path there the tempoary files created
tempRoot	string	/tmp/

# Maximum time to wait user input before any action in msec
InputTimeout	string	10000

# reserved
RecordOnSelfCall int	0

# Maximum size of message in msec
MaxRecordTime	int	60000

# Logging level
LogLevel	int	7

# Log file name
LogFileName	string	/usr/local/vocal/log/vmserver1.log

# Should log also go to console (0/1)?
LogConsole	int	0

# Path to sendMsg script
SendMsgScript	string	/usr/local/vocal/bin/voicemail/sendMessage

#PromptTable	string	/usr/local/head/vocal/vm/wav/PromptTable 

AutoPlay	int	0
