# RADIUS client test program configuration file

# Test program types: "client" or "server"
type			string	client

# Debug Logging
# log_file - default to stderr if commented out
# log_level - default to ERR, accept INFO, DEBUG, DEBUG_STACK
#log_file		string	./radius_client.log
#log_level		string	DEBUG

# Local port
client_port		int	21812

# RADIUS Server data
#server_host		string	chok-lnx2
server_host		string	rkripa-lnx2
server_port		int	1812
server_accounting_port	int	1812

# Shared secret for calculating authenticator
secret			string	shhhh!

# Timeout before retransmit (Not implemented yet)
response_timeout	int	500

# Number of responses to test, -1 means run forever
#number_of_packets	int	-1
number_of_packets	int	10000

# Test Access-Request
test_access	bool	true
#test_access	bool	false

# Test Accounting-Request
test_accounting	bool	true
#test_accounting	bool	false

# Attribute data
User_Name		string	vovida
User_Password		string	01234567890123456
Called_Station_Id	string	555-1212
Calling_Station_Id	string	Anonymous
Acct_Session_Time	int	120
Acct_Terminate_Cause	int	5

